/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

header nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}
